/* ESTILOS GENERALES */

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}
main{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.aside{
  background-color: #242424;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 6;

  display: grid;
  grid-template-rows: 50px 300px 200px;
  align-items: start;
  justify-content: start;
  padding: 1.5rem;
  gap: 3rem;
}

.header{
  z-index: 2;
  background-color:white;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
  box-shadow: 0px 5px 5px rgb(193, 192, 192);

  display: grid;
  grid-template-rows: 80px 100px;
  justify-content: start;
  padding: .5rem 4rem;
}

.main-content{
  background-color: #E2E8F0;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 6;
}

li{
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
}

/* ESTILOS ASIDE */
.dashboard-title-container{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.dashboard-title{
  color: white;
  font-size: 1.2rem;
  margin: 0;
}
.dashboard-title-container >img{
  width: 20px;
}

aside i{
  color:   #e1241f;
  font-size: 1.5rem;
}

.nav-options, .account-options{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

aside li{
  color:  white;
}

/* ESTILOS HEADER */
.navbar{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  align-items: center;
}
nav > img{
  width: 3rem;
  border-radius: 50%;
  grid-column-start: 5;
  grid-column-end: 6;
}

.navbar>i{
  color: #e1241f;
  font-size: 1.2rem;
  text-align: center;
}
.fa-bell{
  grid-column-start: 4;
  grid-column-end: 5;
}
.user-name{
  display: inline;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  grid-column-start: 6;
  grid-column-end: 11;
}
.search-input{
  background-color: rgb(199, 197, 197);
  border-radius: 8px;
  border: none;
  width: 400px;
  height: 1.5rem;
}
.menu > img{
  width: 70px;
  border-radius: 50%;
}
.menu{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  align-items: center;
}
.user-info{
  grid-column-start: 2;
  grid-column-end: 5;
}
.hi, .user{
  margin: 0;
}
.buttons{
  grid-column-start: 7;
  grid-column-end: 11;
}

button{
  border: none;
  background-color: #e1241f;
  color: white;
  border-radius: 1rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
}
.new{
  grid-column-start: 8;
  grid-column-end: 9;
}
